body {
    width: 99%;
    margin: 0px auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, rgb(131, 81, 0),antiquewhite);
    
}

.bg-img {
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 10em;
    margin-top: 1%;
}

.logo {
    margin: -2%;
    padding-left: 2%;


}

.navbar {
    width: 100%;
    margin: -1% auto;
    background-color: rgb(10, 0, 66);
    height: 85px;
}

li {
    display: inline-block;
    margin: 4%;
    font-size: 20px;
    font-weight: bolder;
}

ul li a {
    transition: 0.4s ease;
    border-bottom: 3px solid rgb(116, 0, 0);
    /* border: 3px solid rgb(0, 0, 0); */
    background-color: rgb(255, 0, 0);
    color: rgb(255, 243, 82);
    border-radius: 15px;
    padding: 10px;
    width: 100px;
    text-align: center;
}

ul li a:hover {
    background-color: rgb(107, 245, 188);
    color: rgb(100, 0, 0);
    cursor: pointer;
    box-shadow: 5px 5px 6px rgb(0, 12, 80);
}

.menu {
    width: 50%;
    float: right;
    /* border: 1px black solid; */
}

.body {
    width: 97.8%;
    text-align: center;
    margin: 0% auto;
}

.div1 {
    width: 250px;
}

.div2 {
    width: 250px;
}

.div3 {
    width: 250px;
}

.div1, .div2, .div3 {
    border: 1px solid rgb(17, 0, 63);
    display: inline-block;
    padding: 1%;
    margin: 1%;
    flex-wrap: wrap;
    border-radius: 3px;
}

a {
    text-decoration: none;
    color: rgb(16, 0, 88);
}

.li3 {
    position: fixed;
    right: 27%;
    top: 2%;
    z-index: 10;
}

.li4 {
    position: fixed;
    right: 16%;
    top: 2%;
    z-index: 10;
}

.li5 {
    width: 120px;
    position: fixed;
    right: 4%;
    top: 2%;
    z-index: 10;
}

h1 {
    font-size: 330%;
    text-decoration: underline;
}

.alter-ul {
    text-align: left;
}

.alter {
    display: block;
    font-weight: normal;
}

.footer {
    width: 100%;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    display: inline-block;  
    background-color: rgb(105, 67, 0);  
}



.btn {
    width: 10%;
    display: block;
    position: relative;
    left: 45%;
    transition: 0.4s ease;
    border-bottom: 3px solid rgb(211, 0, 0);
    background-color: rgb(15, 12, 8);
    color: white;
    border-radius: 5px;
    padding: 10px;
    width: 100px;
    font-weight: bolder;
    z-index: 1;
}


.btn:hover {
    background-color: rgb(245, 196, 107);
    color: rgb(42, 3, 3);
    cursor: pointer;
    box-shadow: 5px 5px 6px black;
}


.copyright {
    text-align: center;
}
